.header{
  background-image: url(https://tech-lagoon.com/img/imagechef/thumb/jpg/400x400/unicolor-canvas.jpg);
}
script{
    width:100px
    height:100px;
}

.main{
    background-color: #83cd20;
 background-image: url(https://p1-e6eeae93.imageflux.jp/c!/w=800,h=800,a=2/yutaromasamasa/aab8beb3d6b6ef461209.jpeg);
}

.footer{
    height: 170px;
    background-color: crimson;
}
.video-contents{
 
}
