.header{
    height:90px;
    background-color:aqua
}
h1{
    font-size:small
}
script{
    width:100px;
    height:100px;
}

.main{
    height:600px;
    background-color: ghostwhite;
}

.footer{
    height: 270px;
    background-color: crimson;
}
.video{
float:left}
.video2{
margin:50px;}
